body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

a:hover {
  color: #00acdc;
}

.nav li:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}

.nav__link.is-active {
  color: #00acdc;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  height: 4px;
  width: 100%;
  background-color: #00acdc;
}
